{% extends "blog/base.html" %}
{% block content %}
<h2>All Posts</h2>
<ul>
    {% for post in posts %}
        <li>
            <a href="{% url 'post-detail' post.pk %}">{{ post.title }}</a>
            <p>{{ post.content|truncatewords:20 }}</p>
        </li>
    {% empty %}
        <p>No posts yet.</p>
    {% endfor %}
</ul>
<p>Tags:
    {% for tag in post.tags.all %}
        <a href="{% url 'posts-by-tag' tag.name %}" class="badge bg-info text-dark">{{ tag.name }}</a>
    {% empty %}
        <span>No tags</span>
    {% endfor %}
</p>
<a href="{% url 'post-create' %}">Create New Post</a>
{% endblock %}
